*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather Sans', sans-serif;

}
small{
    color: #D34A49;
    font-size: 60px;

}
big{
    font-size: 40px;
}
/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
}

li a:hover {
    background-color: #E14B4D;;
}
.menu button{
    background-color: #E14B4D;
    color: white;
    padding-bottom: 7px;
    margin-top: 11px;
    margin-left: 8%;
    border-radius: 3px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #E14B4D;;
}
 .icon{
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
}
.menu{
    margin-left: 40px;
    padding-left: 20px;
}